html, body {
  margin: 10;
  padding: 10;
  background-color: lightgrey;
  font-family: 'Courier New', Courier, monospace;
}

a:hover {
  text-decoration: none;
  background-color: #eeeeee;
}

canvas {
  display: block;
}
